@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}

body {
    background-color: #f9f9f9;
    min-height: 100vh;
    overflow-x: hidden;
    
}

header {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    padding: 30px 100px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    z-index: 100;
}

.logo {
    padding: 0;
    margin: 0;
}

.navigation a {
    text-decoration: none;
    color: #544d10;
    padding: 6px 15px;
    border-radius: 20px;
    margin: 0 10px;
    font-weight: 600;
}

.navigation a:hover, .navigation a.active {
    background-color: #104454;
    color: #fff;
    padding: 6px 15px;
    border-radius: 20px;
    margin: 0 10px;
}

.fondo {
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    width: 100%;
    object-fit: cover;
    overflow: hidden;
}

#texto {
    position: absolute;
    font-size: 5em;
    color: #fff;
    text-shadow: 5px 5px 9px rgba(0, 0, 0, .2);
    
}

#subtitulo {

    position: absolute;
    font-size: 1em;
    color: #fff;
    text-shadow: 2px 2px 4px rgba(0, 0, 0, .2);
    padding-top: 5em;
    
}


.fondo img {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    object-fit: cover;
    pointer-events: none;
}

.sec {
    position: relative;
    background-color: #0D4557;
    padding: 100px;
}

.sec h2 {
    font-size: 3em;
    color: #fff;
    margin-bottom: 10px;
}

.sec p {
    font-size: 1em;
    color: #fff;
    font-weight: 300;
}


ul {
    list-style: none;
    background: none;
}

ul li {
    display: inline-block;
    position: relative;
}

ul li a {
    display: block;
    padding: 20px 25px;
    color: #000000;
    text-decoration: none;
    text-align: center;
    font-size: 20px;
}

ul li ul.dropdown li {
    display: block;
    display: inline-block;
}

ul li ul.dropdown {
    width: auto;
    background: none;
    position: absolute;
    z-index: 999;
    display: none;
    white-space: nowrap;
    left: 50%;
    transform: translateX(-50%);
    top: 100%;
    padding-top: 10px
}

ul li a:hover {
    background-color: #0D4557;
    
}

ul li:hover ul.dropdown {
    display: block;

}

ul li ul.dropdown li {
    display: block;
}

ul li ul.dropdown a {
    display: block;
    padding: 10px 15px;
    color: #000000;
    text-decoration: none;
}

ul li ul.dropdown a:hover {
    background-color: #0D4557;
}

